<section class="card">
  <div class="card-body" aligin>
    <h1 aliging="center-block">Operaciones bancarias ¿Qué son y Cómo funcionan?</h1>
    <p>Las operaciones bancarias son las actividades con las que el banco presta sus servicios financieros a sus clientes; pueden ser de dos tipos:</p>

    <ul>
    <li>Operaciones de activo que se dan cuando el banco presta dinero a sus clientes a través de préstamos, créditos, descuentos, etc.</li>
    <li>Operaciones de pasivo cuando el banco recibe dinero de sus clientes en forma de depósitos, cuentas corrientes o similar.</li>
    </ul>

    <h4>Operaciones de activo</h4>

<p>Como hemos explicado son aquellas en las que el banco concede crédito a sus clientes, es decir, les entrega una cantidad de dinero o les permite disponer de dinero.
En ellas el banco se convierte en acreedor y sus clientes en deudores.</p>
<ul>
<li>Estas operaciones son:
    <ul>
    <li>Préstamos: el banco entrega, normalmente de una sola vez, una cantidad de dinero al cliente y éste debe devolverla dentro de determinados plazos fijados de antemano además de pagar unos intereses.</li>
    <li>Créditos: el banco no entrega dinero a su cliente sino que le abre una cuenta corriente de la que el cliente puede disponer de fondos que no tiene hasta determinado límite y el cliente sólo paga intereses por el dinero dispuesto.</li>
    <li>Descuentos: el banco adelanta el pago a su cliente de efectos comerciales que todavía no han vencido (letras y pagarés) mediante una línea de descuento, el responsable de ese dinero adelantado es el propio cliente, si la letra o pagaré no se paga el banco retira el dinero que le ha adelantado a su cliente y es éste el que tiene que reclamarlos y no el banco. El cliente paga por este dinero que recibe antes unos intereses a los que llamamos descuento.</li>
    <li>Factoring: ayudar al cliente en su gestión de cobros, adelantándole incluso los pagos, con actividades como los estudios y gestión de riesgos, suele estar dirigido a empresas de pequeño tamaño.</li>
    <li>Leasing: o arrendamiento financiero, permite al cliente adquirir bienes de activo no corriente mediante un contrato de alquiler en el que el proveedor compra exactamente lo que el cliente necesita y lo pone a su disposición a cambio de pagos periódicos.</li>
    </ul>
</li>
</ul>
    <h4>Operaciones de pasivo</h4>

<p>En ellas el banco recibe fondos de sus clientes, es decir, el banco es deudor y los clientes sus acreedores.
Estos fondos deben estar disponibles para sus clientes en las formas y plazos que sean pactadas en el contrato entre el banco y el cliente.
Mientras tanto, el banco puede disponer de esos fondos para las operaciones de activo.</p>

<ul>
<li>Las principales operaciones de pasivo son:
    <ul>
    <li>Cuentas corrientes a la vista: son depósitos irregulares en los que el cliente puede disponer de esos fondos en el momento que quiera. Normalmente el banco no suele pagar intereses por los fondos depositados.</li>
    <li>Cuentas de ahorro: también son depósitos irregulares destinados a que el cliente tenga en ellos fondos que no va a utilizar durante un tiempo y el banco le paga unos intereses. Su disponibilidad depende del contrato pero suelen ser bastante líquidos, a veces se exige que se preavise la disposición de fondos con unos días.</li>
    <li>Depósitos a plazo fijo: el cliente entrega un dinero que no puede retirar hasta el término del plazo y recibe unos intereses mayores.</li>
    <li>Redescuento bancario: es una operación interbancaria, un banco descuenta a otro banco créditos que este segundo banco ha concedido en forma de descuentos a sus propios clientes.</li>
    <li>Otros pasivos como emisión de obligaciones, cartas de crédito u otros.</li>
    </ul>
</li>
</ul>

  </div>
</section>
