<div class="jumbotron mt-4">
  <h1 class="display-4">OPERACIONES</h1>
  <p class="lead">Operaciones activas y pasivas, liquidadas anticipadamente
    para extener su plazo</p>
  <hr class="my-4">
  <a href="/mas" class="btn btn-primary">Saber mas</a>
  <div align="right">
  <i class="fa fa-university fa-2x" aria-hidden="true"></i>
  </div>
</div>
